* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
	color: rgb(207, 146, 31);
	background-color: rgb(34, 33, 33);
}
/* Header styling */
header {
	background: linear-gradient(45deg, rgb(19, 18, 18), rgb(51, 20, 2));
}
header ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 10px 40px;
}
.logo {
	font-size: 25px;
	padding: 10px;
}
.nav-links {
	display: flex;
	font-size: 18px;
	padding: 10px;
}
.nav-items {
	padding-left: 20px;
}
.logo:hover,
.nav-items:hover {
	color: gold;
}

a {
	text-decoration: none;
	color: rgb(202, 153, 62);
}

/* Main styling */

h1 {
	margin-bottom: 25px;
	padding: 25px;
	text-align: center;
	font-size: 40px;
}
.container {
	margin: 0 auto;
	text-align: center;
	width: 800px;
}
.menu-items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

.container li {
	list-style: none;
	background-color: antiquewhite;
	height: 410px;
	width: 350px;
	margin: 0 auto;
}
.container img {
	height: 300px;
	object-fit: cover;
	width: 100%;
}
.container p {
	color: rgb(63, 59, 59);
	font-size: 22px;
	padding: 17px;
	margin-bottom: 7px;
}
.item-text a {
	padding: 5px 10px;
	color: white;
	background-color: rgb(207, 146, 31);
	padding: 10px 20px;
	border-radius: 6px;
	cursor: pointer;
}
.item-text a:hover {
	background-color: rgb(240, 160, 13);
}
.item-text a:active {
	background-color: rgb(207, 146, 31);
}
