#container {
	background-color: rgb(82, 23, 81);
	padding: 10px;
	width: 600px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; /* Wraps HTML elements for smaller screens.*/
	justify-content: space-between; /*  Justify contents horizontally */
	align-items: center; /* Align items vertically */
}
p {
	background-color: rgb(211, 88, 209);
	margin: 10px;
	width: 250px;
}
nav ul {
	background-color: rgb(250, 146, 63);
	list-style: none;
	width: 250px;
	margin: 10px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
}
li {
	background-color: rgb(238, 212, 192);
	width: 100px;
}
