main {
	background-color: rgb(82, 23, 81);
	padding: 10px;
	width: 1000px;
	margin: auto;
}

ul {
	background-color: rgb(250, 146, 63);
	list-style: none;
	width: 800px;
	margin: 10px auto;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 100px 200px; /* Defines spaces between rows and columns*/
}

li {
	background-color: rgb(238, 212, 192);
	text-align: center;
	width: 200px;
	margin: 20px auto;
}
/* Targets the first item inside an HTML element */
li:first-of-type {
	color: blue;
	background-color: gold;
}
/* nth of type*/
li:nth-of-type(3) {
	width: 100%;
	color: gold;
	background-color: blue;
	grid-column: 1 / span 2; /* Tells us how many columns to occupy*/
}
