* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
	background-color: rgb(44, 41, 38);
}

a {
	text-decoration: none; /* Remove underline for all hyperlinks */
}

/* header styling */
#main-header {
	height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(29, 26, 24);
	padding: 0 5%;
}
#logo {
	font-size: 1.5rem;
	font-weight: bold;
	color: rgb(238, 164, 80);
	text-transform: uppercase;
}
#logo:hover {
	color: rgb(228, 163, 44);
}
/* Hamburger button styling */
.menu-btn {
	width: 3rem;
	height: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.menu-btn span {
	width: 100%;
	height: 3px;
	background-color: white;
}
/* Side-drawer */
#side-drawer {
	width: 100%;
	height: 100%;
	background-color: rgb(29, 26, 27);
	/* Hide other elements */
	position: fixed;
	top: 0;
	left: 0;
}
#side-drawer ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	padding: 4rem 1rem;
}
#side-drawer li {
	margin: 1rem 0;
}

#side-drawer a {
	color: rgb(253, 239, 213);
	font-size: 2rem;
}

#main-header nav a {
	color: rgb(185, 131, 31);
	font-size: 1.25rem;
}
#main-header nav a:hover {
	color: rgb(228, 163, 44);
}
#main-header ul {
	list-style: none;
	display: flex;
	flex-direction: row;
}
#main-header li {
	margin-left: 1rem;
	margin-right: 1rem;
}
/* main styling */
main h1 {
	color: rgb(238, 164, 80);
	text-align: center;
	font-size: 3rem;
}
#latest-products {
	width: 80%;
	margin: 2rem auto;
}
#latest-products ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	list-style: none;
}
.food-item {
	background-color: rgb(228, 206, 182);
	border-radius: 6px;
	overflow: hidden;
}
.food-item img {
	height: 15rem;
	width: 100%;
	object-fit: cover;
}
.food-item-content {
	text-align: center;
	padding: 1rem;
}
.food-item-content h2 {
	margin-bottom: 1.25rem;
}
.btn {
	background-color: rgb(228, 157, 44);
	color: white;
	border-radius: 4px;
	padding: 0.5rem 1.5rem;
}
.btn:hover {
	background-color: rgb(221, 134, 34);
}

/* Media Queries */
/* For devices with max width of 786px */
@media (max-width: 48rem) {
	#latest-products ul {
		grid-template-columns: 100%;
	}
}
/* Nav header in Tablets and Smartphones view */
@media (max-width: 48rem) {
	#main-header ul {
		display: none;
	}
	#main-header nav a {
		/* font-size: 1rem; */
	}
	/* h1 in main element font-size decrease */
	main h1 {
		font-size: 1.5rem;
	}
}
